:root {
  --Cyan: hsl(180, 66%, 49%);
  --LigthCyan:hsla(180, 66%, 49%, 0.514);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --SoftRed:hsla(0, 87%, 67%, 0.534);
  --Gray: hsl(225deg 33% 95%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
  --White: rgb(255, 255, 255);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  max-width: 1363px;
  height: 100vh;
  font-size: 18px;
}
ul{
  list-style:none;
}
li > a {
  text-decoration: none;
  color: var(--Grayish-Violet);
  font-weight: 700;
}
.topSection {
  padding-top: 6em;
  background: url(images/illustration-working.svg) no-repeat 128% 25%;
  width: 90%;
  padding-bottom: 5em;
  margin: 1% 0% 5% 7%;
}
.contentMain {
  width: 47%;
}
.topSection h1 {
  font-size: 4em;
  color: var(--Very-Dark-Violet);
}
.topSection p {
  color: var(--Grayish-Violet);
  font-size: 24px;
  padding-bottom: 30px;
}
#getStarted {
  color: var(--White);
  background-color: var(--Cyan);
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 3em;
  cursor: pointer;
}
#getStarted:hover{
  background-color:var(--LigthCyan);
}
.bottomSection {
  background-color: var(--Gray);
  margin: 0;
  width: 100%;
  padding: 1% 7% 15% 7%;
}
.bottomSection>h2,.bottomSection>p{
  margin:auto;
  text-align:center;
  width:40%;
}
.bottomSection>h2{
  color:var(--Very-Dark-Violet);
  font-size:2em;
  margin-bottom:20px;
  margin-top: 5em;
}
.bottomSection>p{
  color:var(--Grayish-Violet);
  margin-bottom:6em;
}
.infoBlock{
  display:flex;
  gap:30px;
}
.contentBlock{
  padding:20px 50px;
  background-color:var(--White);
  width:30%;
  }
.contentBlock img {
  background-color: var(--Dark-Violet);
  padding: 15px;
  border-radius: 50%;
  position: relative;
  bottom: 2.6em;
}
.contentBlock h3{
  margin-top:-30px;
  padding-bottom:10px;
}
.contentBlock p{
  color:var(--Grayish-Violet);
}
#detailedRecords,#fullyCustomizable{
  position:relative;
}
#detailedRecords{
  top:40px;
}
#fullyCustomizable{
  top:80px;
}
aside.footerStarted{
  padding:3em 0em 1em 0;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
  background:url(images/bg-boost-desktop.svg) no-repeat 50% 30%,var(--Dark-Violet);
}
#white-logo{
  align-self:flex-start;
  filter: brightness(100);
}
aside.footerStarted h2{
  color:var(--White);
  font-size:2em;
}
.footerNavegation {
  background-color: var(--Very-Dark-Violet);
  display: flex;
  justify-content: space-between;
  padding: 5% 7% 3% 7%;
}
footer a:hover{
  color:var(--Cyan);
}
.linksFooter {
  display: flex;
  gap: 5em;
}
.linksFooter li{
  padding-bottom:10px;
}
.linksFooter li:nth-child(1){
  color:var(--White);
  padding-bottom:20px;
}
.socialLogos {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*Media-Queries*/
@media(max-width:1200px){
  .contentMain {
    width: 100%;
    text-align: center;
    padding-top: 22em;
  }
  .topSection {
    background: url(images/illustration-working.svg) no-repeat 50% 1%;
  }
}
@media(max-width:950px){
    .contentMain>h1{
      line-height:1.2em;
      padding-bottom:20px;
    }
    .bottomSection>h2,.bottomSection>p {
      width:100%;
    }
    .bottomSection>h2{
      font-size:2.2em;
      margin-top:2em;
    }
    .bottomSection>p{
      font-size:1.2em;
    }
    .infoBlock {
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;
  }
  .contentBlock {
    width:100%;
    text-align:center;
    padding: 5em 50px;
  }
  .contentBlock h3 {
    margin-top: -104px
  }
  .contentBlock img {
    bottom:7.2em;
  }
  .footerNavegation {
    flex-direction:column;
    align-items:center;
    gap:60px;
  }
  aside.footerStarted h2{
    font-size:1.4em;
  }
  .linksFooter{
    flex-direction:column;
    text-align:center;
  }
  #white-logo{
    align-self:center;
  }
  .bottomSection {
    padding:1% 7% 36% 7%;
  }
}
@media(max-width:650px){
  #hamburguer{
    width:9%;
  }
  aside.footerStarted{
    background:url(images/bg-boost-mobile.svg) no-repeat 100% 100%,var(--Dark-Violet);
  }
  .topSection {
      background: url(images/illustration-working.svg) no-repeat -4% 1%;
  }
  .contentMain>h1 {
      padding-top:0.5em;
      font-size:3em;
  }
}